<div class="modal-header">
  <h4 class="modal-title">Create Task</h4>

  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="todoForm" (ngSubmit)="saveTodo()">
    <div class="form-group">
      <label for="title">Title*</label>
      <input
        type="text"
        id="title"
        placeholder="Title"
        class="form-control"
        formControlName="title"
      />
      <span
        style="color:Red;"
        *ngIf="
          todoForm.controls['title'].touched &&
          todoForm.controls['title'].invalid
        "
        >Title is required.</span
      >
    </div>
    <div class="form-group">
      <label for="description">Description*</label>
      <textarea
        id="description"
        placeholder="Description"
        class="form-control"
        formControlName="description"
      ></textarea>
      <span
        style="color:Red;"
        *ngIf="
          todoForm.controls['description'].touched &&
          todoForm.controls['description'].invalid
        "
        >Description is required.</span
      >
    </div>
    <div class="form-group">
      <label for="priority">Set priority</label>
      <select formControlName="priority" id="priority" class="form-control">
        <option *ngFor="let priority of priorities" [value]="priority">{{
          priority
        }}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="endDate">Set deadline</label>
        <input
          id="deadline"
          class="form-control"
          formControlName="endDate"
          placeholder="dd-mm-yyyy"
          type="date"
        />
      </div>
   
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
  <button
    class="btn btn-primary"
    (click)="saveTodo()"
    [disabled]="todoForm.invalid"
  >
    Save
  </button>
</div>
